<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jerrell Abrahams</title>
    <link rel="stylesheet" href="../css/styles.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Ubuntu&display=swap" rel="stylesheet">


    <!-- Icons-->
    <script src="https://kit.fontawesome.com/7cbe047347.js" crossorigin="anonymous"></script>
    <script defer src="../javascript/index.js"></script>
</head>
<body>
    
    <nav class="navbar">
        <div class="theme_checkbox">
            <input type="checkbox" id="toggle" class="toggle_button" onclick="checkboxFunction()" checked>
            </div>
    </nav>
    <section class="main_section">
        <div>
            <div class="name_container">
                <h1 class="main_heading">Jerrell Abrahams</h1>
                <h4 class="sub_heading">Junior Web Developer</h4>
                <div class="button_container">
                    <a href="https://flowcv.com/resume/ljur7etg36" target="_blank"><button class="resume_button">Resume</button></a>
                </div>
            </div>
        </div>
    </section>

    <section class="profile_section ">
        
        <div class="container profile_container">
            <div class="left_section">
                <img class="my_picture" src="https://avatars.githubusercontent.com/u/90089702?v=4" alt="">
                <div class="about_me_container">
                <h1 class="title">About Me</h1>
                <p>My name is Jerrell Abrahams. A 3rd year student studying towards a Diploma in Systems Development. Computers being my passion really kick started my journey in programming. With the skills I acquired throughout my journey I hereby bring you this website and my portfilio below.</p>
            </div>
            </div>

        </div>
    </section>
    <section class="skills_section ">
        <div class=" container skills_container">
            <h1 class="title skills_heading">Skills</h1>
            <div class="skills_block">
                <div class="skill">
                    <div class="skill_fill animate" style="width: 60%"></div>
                    <p>Javascript</p>
                    <span>60%</span>
                </div>
                <div class="skill">
                    <div class="skill_fill animate" style="width: 80%"></div>
                    <p>HTML & CSS</p>
                    <span>80%</span>
                </div>
                <div class="skill">
                    <div class="skill_fill animate" style="width: 75%"></div>
                    <p>Python</p>
                    <span>75%</span>
                </div>
                <div class="skill">
                    <div class="skill_fill animate" style="width: 85%"></div>
                    <p>Excellent Problem-solving</p>
                    <span>85%</span>
                </div>
                <div class="skill">
                    <div class="skill_fill animate" style="width: 40%"></div>
                    <p>React</p>
                    <span>40%</span>
                </div>
                <div class="skill">
                    <div class="skill_fill animate" style="width: 75%"></div>
                    <p>Python</p>
                    <span>75%</span>
                </div>
                <div class="skill">
                    <div class="skill_fill animate" style="width: 40%"></div>
                    <p>Java</p>
                    <span>40%</span>
                </div>
                <div class="skill">
                    <div class="skill_fill animate" style="width: 75%"></div>
                    <p>Networking/Internet Skills</p>
                    <span>75%</span>
                </div>
                <div class="skill">
                    <div class="skill_fill animate" style="width: 60%"></div>
                    <p>MERN Stack</p>
                    <span>60%</span>
                </div>
                <div class="skill">
                    <div class="skill_fill animate" style="width: 95%"></div>
                    <p>Computer hardware/Software</p>
                    <span>95%</span>
                </div>
                <div class="skill">
                    <div class="skill_fill animate" style="width: 70%"></div>
                    <p>Communication</p>
                    <span>70%</span>
                </div>
            </div>
        </div>
    </section>

    <section class="projects_section">
        <div class="container projects_container">
            <h1 class="title project_heading">Projects</h1>
            <div class="card_container">    
            <div class="card">
                <img src="../images/future_email_project.png" alt="">
                <p class="project_name">Future Email Website</p>
                <div class="card_buttons_container">
                    <a href="https://future-email-2zm2.onrender.com" target="_blank"><button class="card_button">Live Demo</button></a>
                    <a href="https://github.com/Jerrell-Abrahams/future-email" target="_blank"><button class="card_button">Source Code</button></a>
            </div>
            </div>
            <div class="card">
                <img src="../images/gym_company_redo_website.png" alt="">
                <p class="project_name">Gym Company Redo Website</p>
                <div class="card_buttons_container">
                    <button class="card_button">Live Demo</button>
                    <button class="card_button">Source Code</button>
            </div>
            </div>
        </div>
        </div>
    </section>

    <section class="contact_section">
        <img class="background_image" src="../images/brush_image.jpg" alt="">
        <div class="contact_container">
            <h1 class="contact_heading">Contact Me</h1>
            <div class="contact_button_container">
            <a href="mailto:jerrellabrahams50@gmail.com"><button class="email_button">Email me</button></a>
            <a href="tel: 0653129139"><button class="call_button">Call me</button></a>
            </div>
            <div class="social_links">
                <ul>
                    <li>
                      <a href="https://www.facebook.com/JerrellAbrahams" class="facebook" href="#">

                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a class="twitter" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/abrahamsjerrell/" target="_blank" class="instagram" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/Jerrell-Abrahams" target="_blank" class="google" href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
            </div>

        </div>
    </section>
</body>
</html>