* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

:root {
    --primary_dark_color: black;
    --accent_dark_color: #151315;
    --primary_font_color: white;
    --accent_font_color: #474447;
    --primary_button_color: rgb(35, 34, 34);

}

.animate {
    transform: translateX(-100%);
    transition: 3s ease-in-out;
}

.animate_in {
    transform: translateX(0);
}

html {
    font-size: 16px;
}

body {
    background-color: var(--primary_dark_color);

}



#toggle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 3.2rem;
    height: 2rem;
    border-radius: 30px;
    background-color: #333;
    position: absolute;
    top: .5rem;
    right: 1rem;
    transition: all 0.5s ease-in;
    cursor: pointer;
    z-index: 1;
  }
  
  /* Making a dot switch inside the Toggle Button */
  #toggle::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #EEE;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: all 0.5s ease-in;
  }
  
  /* Changing toggle button background when checked */
  #toggle:checked {
    background: rgb(255, 255, 255);
  }
  
  /* Changing dot switch color and moving to the right side when checked */
  #toggle:checked::before {
    background: #000000;
    left: 1.5rem;
  }





.main_section {
    background-color: var(--primary_dark_color);
    height: 100dvh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.name_container {
    position: relative;
    bottom: 3rem;
}

.main_heading {
    color: var(--primary_font_color);
    font-size: 6rem;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;


    
}

.sub_heading {
    color: gray;
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume_button {
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    font-size: 1rem;
    width: 10rem;
    height: 3rem;
    border: none;
    color: white;
    border-radius: .5rem;
    margin: 2rem auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: .3s all
}

.resume_button:hover {
    background-color: #2c8f6f;
    background-image: linear-gradient(215deg, #49d4a8 30%, #0bab64 84%);
    transform: translateY(1px);
    box-shadow: rgba(231, 230, 230, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;

}

.profile_section {
    width: 100%;
    height: fit-content;
    background-color: var(--primary_dark_color);
    margin: 2rem 0
}

.profile_container {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    background-color: var(--accent_dark_color);
    border-radius: 30px
}


.my_picture {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    opacity: .7;
    box-shadow: rgb(63, 69, 63) 1px 1px 20px;
    margin: 2rem;
    transform: scale(.9);
}

.left_section {
    display: flex;
}

.about_me_container {
    display: block;
    margin: 3rem 0;
    color: var(--primary_font_color)smoke;
    width: 100%
    
}

.about_me_container h1, .skills_heading, .project_heading, .contact_heading {
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;
    margin: 1rem;
    color: var(--primary_font_color);


}

.about_me_container p { 
    font-size: 1.5rem;
    margin: 1rem;
    width: 75%;
    font-family: 'Ubuntu', sans-serif;
    color: #575157;
}

.skills_section {
    background-color: var(--primary_dark_color);
    width: 100%;
    height: fit-content;

}

.skills_container {
    background-color: var(--accent_dark_color);
   
    width: 90%;
    height: fit-content;
    margin: 10rem auto;
    border-radius: 30px;
    padding: 2rem 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.skills_heading {
    width: 60%;
    margin: 1rem auto
}

.skill {
    font-family: "Ubuntu";
    font-size: 1rem;
    font-weight: 700;
    border-radius: 3px;
    margin: 1rem;
    width: 60%;
    height: 2rem;
    background-color: #918991;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    overflow: hidden;
}

.skill p {
    position: absolute;
    margin: 0 1rem
}

.skill span {
    margin: 0 1rem
}

.skill_fill {
    position: relative;
    height: 2rem;
    background-color: rgb(39, 210, 181);
}


.projects_container {
    margin: 10rem auto;
    width: 90%; 
    height: fit-content;
    border-radius: 30px;
    background-color: var(--accent_dark_color);

}

.card {
    height: fit-content;
    margin: 1rem;
    position: relative;
}

dialog {
    border: none;
    width: 70%;
    height: fit-content;
    margin: auto;
    background-color: var(--accent_dark_color);
    outline: none;
    border-radius: 30px;
    color: var(--primary_font_color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}



dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.695);
}

.modal_container {
    width: 90%;
    margin: 2rem auto;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary_font_color);
    
}

.modal_heading {
    font-size: 1.1rem;
    font-weight: bold;
}

.modal_container p {
    margin: 1rem 0;
    font-size: 1rem;
}


.preview_container {
    margin: 3rem 0;
}

.preview_container img {
    margin: 1rem 0;
    width: 25rem;
    height: auto;
    border-radius: 10px;

}
.tech_container {
    margin: 2rem 0;
}

ol {
    margin: 1rem 2.5rem;
}

.modal_heading {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0
}

.fa-light {
    width: 30px;
    height: 30px
}




.card img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    transition: .5s ease-in-out;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card_container {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.card img:hover {
    filter: blur(7px);
    opacity: .9;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.project_heading {
    margin: 3rem;
}


.card_buttons_container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: 1s all
}

.project_name {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: var(--primary_font_color);
    opacity: 0;
    font-size: 2rem;
    font-family: "Ubuntu";
    transition: .5s all;
    width: fit-content;
    z-index: 0;

}

img:hover + .project_name {
    opacity: 1
}

.project_subheading {
    font-size: .8rem;
    font-family: "Arial";
}

.card_button {
    font-size: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    width: max-content;
    padding: 0 2rem;
    height: 2.5rem;
    background-color: var(--primary_button_color);
    border: none;
    border-radius: 3px;
    color: var(--primary_font_color);
    margin: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;

}
.card_button:hover + .card_buttons_container {
    transform: translateY(2px);
    background-color: var(--primary_dark_color);
    transition: .5s;
    color: var(--primary_font_color);
}

.card_button:hover {
    background-color: var(--primary_font_color);
    color: var(--primary_dark_color);
    transform: translateY(1px);
    transition: .2s;
    cursor: pointer;

}

.contact_section {
    background-color: white;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.background_image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 80%;
    height: fit-content;
    overflow: hidden;
    opacity: .7;
}

.contact_container {
    max-width: 700px;
    margin: 1rem auto;
    padding-top: 2rem;
    

}

.contact_heading {
    color: black;
    text-align: center;
    margin: 4rem 1rem;
    position: relative;
}

.contact_button_container {
    margin: 0;
    display: flex;
    justify-content: center;
    z-index: 99;
    position: relative;
}

.email_button, .call_button {
    width: 12rem;
    height: auto;
    padding: 1rem 1rem; 
    background-color: transparent;
    font-size: 1.2rem;
    color: black;
    margin: 0 2rem;
    border: black 2px solid;
    border-radius: 3px;
    font-family: "Ubuntu";
    transition: .3s;
}

.call_button {
    background-color: transparent;
    border: 2px solid blue; 
    

}

.call_button:hover {
    transform: translateY(1px);
    background-color: rgb(12, 12, 217);
    color: var(--primary_font_color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;

}

.email_button:hover {
    transform: translateY(1px);
    background-color: black;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;

}

.social_links {
    display: flex;
    justify-content: center;
}


ul {
    position: relative;
    margin: 2rem 0;
    left: 0;
    margin: 2rem 0;
    padding:0;
    display:flex;
  }
  ul li {
    list-style:none;
  }
  ul li a {
    display:block;
    position:relative;
    width: 6.25rem;
    height: 6.25rem;
    line-height:100px;
    font-size: 2rem;
    text-align:center;
    text-decoration:none;
    color:#404040;
    margin: 0 2rem;
    transition:.5s;
  }
  ul li a span {
    position:relative;
    transition: transform .5s;
  }
  ul li a span:nth-child(1),
  ul li a span:nth-child(3){
    width:100%;
    height:3px;
    background:#404040;
  }
  ul li a span:nth-child(1) {
    top:0;
    left:0;
    transform-origin: right;
  }
  ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition:transform .5s;
  }
  
  ul li a span:nth-child(3) {
    bottom:0;
    left:0;
    transform-origin: left;
  }
  ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .5s;
  }
  
  ul li a span:nth-child(2),
  ul li a span:nth-child(4){
    width:3px;
    height:100%;
    background:#404040;
  }
  ul li a span:nth-child(2) {
    top:0;
    left:0;
    transform:scale(0);
    transform-origin: bottom;
  }
  ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition:transform .5s;
  }
  ul li a span:nth-child(4) {
    top:0;
    right:0;
    transform:scale(0);
    transform-origin: top;
  }
  ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition:transform .5s;
  }
  
  .facebook:hover {
    color: #3b5998;
    cursor: pointer;

  }
  .facebook:hover span { 
    background: #3b5998;


  }
  .twitter:hover {
    color: #1da1f2;
    cursor: pointer;

  }
  .twitter:hover span { 
    background: #1da1f2;


  }
  .instagram:hover {
    color: #c32aa3;
    cursor: pointer;

  }
  .instagram:hover span { 
    background: #c32aa3;


  }
  .google:hover {
    color: #dd4b39;
    cursor: pointer;

  }
  .google:hover span { 
    background: #dd4b39;
  }
  ul li a .twitter {
    color: #1da1f2;
  }
  ul li a:hover:nth-child(3) {
    color: #c32aa3;
    cursor: pointer;

  }
  ul li a:hover:nth-child(4) {
    color: #dd4b39;
    cursor: pointer;

  }





/* .hidden {
    position: sticky;
    top: 0;
    opacity: 1;
    transition: 2s all
}

.show {
    opacity: 0;
    filter: blur(5px)
}
 */




















@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 12px;
    }
 }

@media all and (min-width: 480px) and (max-width: 768px) {
    html {
        font-size: 10px;
    }
    .left_section {
        display: block;
        text-align: center;
    }
    .about_me_container p {
        margin: 1rem auto;
        padding-bottom: 2rem;
    }
    .card_container {
        flex-wrap: wrap;
    }

    .about_me_container h1, .skills_heading, .project_heading, .contact_heading {
        text-align: center;
    }
 }

@media all and (max-width: 480px) {
    html {
        font-size: 9px;
    }
    .left_section {
        display: block;
        text-align: center;
    }
    .about_me_container p {
        margin: 1rem auto;
        padding: 2rem
    }
    .card_container {
        flex-wrap: wrap;
    }
    .projects_container {
        width: 100%
    }
    dialog {
        width: 90%;
    }

 }

 @media all and (max-width: 310px) {
    html {
        font-size: 9px;
        
    }
    .left_section {
        display: block;
        text-align: center;
    }
    .about_me_container p {
        margin: 1rem auto;
        padding-bottom: 2rem;
    }
    .projects_container {
        width: 100%
    }
    .about_me_container h1, .skills_heading, .project_heading, .contact_heading {
        text-align: center;
    }
    .skill {
        width: 75%;
    }
    dialog {
        width: 90%;
    }
 }


